export HOST=localhost
export OPEN_AI_KEY=fill_me_in
export FEEDS="https://feed.infoq.com/development/,https://blog.jetbrains.com/feed/,https://feed.infoq.com/Devops/,https://feed.infoq.com/architecture-design/"
export DATABASE_URL="postgres://starter:starter@localhost:5432/starter_development?sslmode=disable"
