button, .button {
    --background: var(--button-background-color);
    --text-color: var(--button-text-color);
    --border: var(--button-background-color);

    display: flex;
    align-items: center;
    gap: .5rem;

    height: 2.75rem;
    width: fit-content;
    padding: 0 1rem;
    border: 1px solid var(--border);
    background-color: var(--background);

    cursor: pointer;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}

button svg, .button svg {
    --icon-color: var(--text-color);

    width: 1.5rem;
    height: 1.5rem;
    margin-left: -.25rem;
    flex-shrink: 0;
}

a.button {
    color: var(--text-color);
    text-decoration: none;
}

button.loader {
    padding-left: 3rem;
    background-image: url("../images/search.svg");
    background-repeat: no-repeat;
    background-position-x: .75rem;
    background-position-y: center;
    background-size: 1.5rem 1.5rem;

    &[disabled] {
        background-image: url("../images/loader-white.svg");
    }
}
