{{- template "base" .}}
{{- define "main"}}
    <section>
        <h1>Query Responses</h1>

        <div class="table-scroll-wrapper">
            <table>
                <thead>
                <tr>
                    <td>ID</td>
                    <td>System Prompt</td>
                    <td>User Query</td>
                    <td>Source</td>
                    <td>Response</td>
                    <td>Chat Model</td>
                    <td>Embeddings Model</td>
                    <td>Temperature</td>
                    <td>Time</td>
                    <td>Relevance</td>
                    <td>Correctness</td>
                    <td>Appropriate Tone</td>
                    <td>Politeness</td>
                </tr>
                </thead>
                <tbody>
                {{range .Responses}}
                    <tr>
                        <td><a href="/query_responses/{{.Id}}">{{.Id}}</a></td>
                        <td>{{.SystemPrompt}}</td>
                        <td>{{.UserQuery}}</td>
                        <td>{{.Source}}</td>
                        <td>{{.Response}}</td>
                        <td>{{.ChatModel}}</td>
                        <td>{{.EmbeddingsModel}}</td>
                        <td>{{.Temperature}}</td>
                        <td>{{.CreatedAt}}</td>
                        {{ if .Score }}
                            <td>{{ .Score.Relevance }}</td>
                            <td>{{ .Score.Correctness }}</td>
                            <td>{{ .Score.AppropriateTone }}</td>
                            <td>{{ .Score.Politeness }}</td>
                        {{ else }}
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        {{ end }}
                    </tr>
                {{end}}
                </tbody>
            </table>
        </div>
    </section>
{{- end}}
